body
{
	background-image: url(Back.jpg);
	background-position: center;
	background-repeat: repeat-y;
background-color:#f2ddc6;
}
#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(shapka.jpg) center no-repeat;
	width: 100%;
	height: 200px;
}
#ball {
position: fixed; /* фиксированная позиция */
left: 10px; /* отступ слева */
bottom: 10px; /* отступ снизу */
}
body { margin: 200 auto;
width: 800px;

 }

<marquee><script language="javascript" type="text/javascript" src="stroka.js" > </script><marquee onmouseover=this.stop() onmouseout=this.start()></marquee>;
body {
	font-family: "Times New Roman", Times, serif;
	border-spacing: 0px 0px;
}
